<template>
  <div>
    <template v-if="hasRole(role)">
      <slot></slot>
    </template>
    <template v-else>
      <slot name="default"></slot>
    </template>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'IfRole',
  props: {
    role: {
      type: String,
      default: undefined,
    },
  },
  computed: {
    ...mapGetters({
      hasRole: 'gfh/hasRole',
    }),
  },
}
</script>
