<template>
  <div>
    <div v-if="isReady">
      <slot></slot>
    </div>
    <div v-else>
      <slot name="notReady">Not ready</slot>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: 'IfStateReady',
  computed: {
    ...mapGetters({
      isReady: "gfh/_isReady"
    })
  }
};
</script>
