<template>
  <div>
    <div v-if="!!value">
      <slot></slot>
    </div>
    <div v-else>
      <!-- empty -->
    </div>
  </div>
</template>

<script>
export default {
  name: 'IfState',
  props: ['value'],
}
</script>
