<state domain="claims" id="local" ></state>


<script>
import Debug from 'debug'
const debug = Debug('gfh-client [components:State.vue]')

// import { mapFields } from 'vuex-map-fields'
// import { is, isNil, merge, uniqBy, isEmpty } from 'ramda'
// import { get, has, rejectDeep, upper, equals, clone } from 'svpr'

export default {
  name: 'State',
  props: {
    domain: {
      type: String,
      default: null,
    },
    id: {
      type: String,
      default: null,
    },
    statePath: {
      type: String,
      default: null,
    },
    defaultInstance: {
      type: String,
      default: null,
    },
  },
  render(h) {
    return this.$scopedSlots.default({
      ...this.fields,
    })
  },
  computed: {
    // ...mapFields([this.fields]),
    fields: function() {
      return Object.keys(this.$options.computed).reduce((fields, name) => {
        if (name === 'fields') return fields
        fields[name] = this[name]
        return fields
      }, {})
    },
  },
}
</script>